### Format

- 10 questions worth 10 points each.

- Do not share answers or collaborate. 

- Open access to resources (online, notes, documentation)

### Example function


```python
def double_number(a):
    return a*2
    
```

## Discussion 


#### 1. What is a dataframe?


#### 2. What information can we obtain about a dataframe?


#### 3. How have we interacted with a dataframe?

### Practice Exercises

1. Load the dataframe 'pokemon' from pydataset

In [1]:
import pandas as pd
pokemon = pd.read_csv('pokemon_data.csv')

In [2]:
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [3]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [4]:
pokemon.columns = pokemon.columns.str.replace(' ','').str.replace('.','').str.lower().str.replace(' ','_')
print(pokemon.columns)

Index(['#', 'name', 'type1', 'type2', 'hp', 'attack', 'defense', 'spatk',
       'spdef', 'speed', 'generation', 'legendary'],
      dtype='object')

/var/folders/fz/0282wvb93rn0lm_p0nscw1sm0000gn/T/ipykernel_53522/748898914.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pokemon.columns = pokemon.columns.str.replace(' ','').str.replace('.','').str.lower().str.replace(' ','_')

2. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics
    

---

In [5]:
pokemon.shape

(800, 12)

In [6]:
pokemon.dtypes

#              int64
name          object
type1         object
type2         object
hp             int64
attack         int64
defense        int64
spatk          int64
spdef          int64
speed          int64
generation     int64
legendary       bool
dtype: object

In [7]:
pokemon.describe()

,#,hp,attack,defense,spatk,spdef,speed,generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

#### Highest and lowest values

1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument.

In [13]:
def highest_attack(df):
    return df.attack.max()

highest_attack(pokemon)

190

2. Which Pokemon possess(es) the highest HP value?

In [20]:
pokemon.loc[pokemon.hp==pokemon.hp.max()]

,#,name,type1,type2,hp,attack,defense,spatk,spdef,speed,generation,legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False

3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument

In [23]:
def num_types(df):
    return f'There are {df.type1.nunique()} unique Type 1 types'

In [24]:
num_types(pokemon)

'There are 18 unique Type 1 types'

4. Number of Pokemon whose Type 2 is Ghost

In [30]:
pokemon[pokemon.type2=='Ghost']['name'].count()

14

5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument

In [44]:
def percent_ghost(df):
    ghost_count = df[df.type2=='Ghost']['name'].count()
    return ghost_count / df.shape[0]*100

In [50]:
percent_ghost(pokemon)

1.7500000000000002

6. Number of Pokemon whose Attack is greater than Defense

In [51]:
pokemon[pokemon.attack>pokemon.defense].name.count()

433

7. Highest 'Total' value of the Psychic Type 2

8. Lowest speed for Grass or Rock

In [81]:
(
pokemon.loc[(pokemon.type1 == 'Grass')| (pokemon.type1 == 'Grass')| 
        (pokemon.type2 == 'Grass')| (pokemon.type2 == 'Grass'),['name','speed']].min()
)

name     Abomasnow
speed           10
dtype: object

In [53]:
pokemon.type1.unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

9. Average speed by Generation

In [87]:
pokemon.groupby('generation')['speed'].mean()

generation
1    72.584337
2    61.811321
3    66.925000
4    71.338843
5    68.078788
6    66.439024
Name: speed, dtype: float64

In [88]:
# 10. Convert all the column names to lowercase letters
pokemon.columns

Index(['#', 'name', 'type1', 'type2', 'hp', 'attack', 'defense', 'spatk',
       'spdef', 'speed', 'generation', 'legendary'],
      dtype='object')

In [93]:
#11. Rename Sp. Attack to special-attack
pokemon = pokemon.rename(columns = {'spatk':'special_attack','spdef':'special_defense'})
pokemon.columns

Index(['#', 'name', 'type1', 'type2', 'hp', 'attack', 'defense',
       'special_attack', 'special_defense', 'speed', 'generation',
       'legendary'],
      dtype='object')

12. Rename Sp. Def to special-defense

13. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy

15. Which Pokemon has appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument


---

Bonus: 

Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense

The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

### Define a function with the parameter a

```
def double_number(a):
    return a*2
```

In [4]:
# Pass the argument 2 to the function
double_number(2)

4