In [1]:
import numpy as np

In [2]:
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])

In [3]:
# How many negative numbers are there?
a[a<0].shape

(4,)

In [4]:
# How many positive numbers are there?
a[a>0].shape

(5,)

In [5]:
# How many even positive numbers are there?
a[(a>0) & (a%2==0)].shape

(3,)

In [6]:
# If you were to add 3 to each data point, how many positive numbers would there be?
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])
a = a+3
a[a>0].shape

(10,)

In [7]:
# If you squared each number, what would the new mean and standard deviation be?
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])
a = a**2
print(a.mean(),a.std())

74.0 144.0243035046516

In [8]:
#A common statistical operation on a dataset is centering. This means to adjust the data such that the mean of 
#the data is 0. This is done by subtracting the mean from each data point. Center the data set. See this link 
#or more on centering.
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])
m = np.mean(a)
new = a-m
print(new)
print(np.mean(new))

[  1.   7.   9.  20.  -5.  -4.  -3.  -3.  -3.  -9.   0. -10.]
0.0

In [9]:
# Calculate the z-score for each data point. Recall that the z-score is given by:
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])
m = np.mean(a)
s = np.std(a)
z = (a-m)/s
print(z)

[ 0.12403473  0.86824314  1.11631261  2.48069469 -0.62017367 -0.49613894
 -0.3721042  -0.3721042  -0.3721042  -1.11631261  0.         -1.24034735]

In [10]:
## Setup 1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
# Exercise 1 - Make a variable called sum_of_a to hold the sum of all the numbers in above list
sum_of_a = sum(a)

In [12]:
# Exercise 2 - Make a variable named min_of_a to hold the minimum of all the numbers in the above list
min_of_a = min(a)

In [13]:
# Exercise 3 - Make a variable named max_of_a to hold the max number of all the numbers in the above list
max_of_a = max(a)

In [14]:
# Exercise 4 - Make a variable named mean_of_a to hold the average of all the numbers in the above list
mean_of_a = np.mean(a)

In [15]:
# Exercise 5 - Make a variable named product_of_a to hold the product of multiplying all the numbers 
# in the above list together
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
product_of_a = 1
for num in a:
    product_of_a*=num
print(product_of_a)

3628800

In [16]:
# Exercise 6 - Make a variable named squares_of_a. It should hold each number in a squared like [1, 4, 9, 16, 25...]
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares_of_a = np.square(a)

In [17]:
# Exercise 7 - Make a variable named odds_in_a. It should hold only the odd numbers
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odds_in_a = [l for l in a if l%2==1]

In [18]:
# Exercise 8 - Make a variable named evens_in_a. It should hold only the evens.
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens_in_a = [l for l in a if l%2==0]

In [19]:
## Setup 2: Consider what it would take to find the sum, min, max, average, sum, product, and list of squares for this list of two lists.
b = [
    [3, 4, 5],
    [6, 7, 8]
]
b = np.array(b)

In [20]:
# Exercise 1 - refactor the following to use numpy. Use sum_of_b as the variable. **Hint, you'll first need to make sure that the "b" variable is a numpy array**
sum_of_b = 0
for row in b:
    sum_of_b += sum(row)

sum_of_b = b.sum()

In [21]:
# Exercise 2 - refactor the following to use numpy. 
min_of_b = min(b[0]) if min(b[0]) <= min(b[1]) else min(b[1]) 

min_of_b = np.min(b)

In [22]:
# Exercise 3 - refactor the following maximum calculation to find the answer with numpy.
max_of_b = max(b[0]) if max(b[0]) >= max(b[1]) else max(b[1])
max_of_b = np.max(b)

In [23]:
# Exercise 4 - refactor the following using numpy to find the mean of b
mean_of_b = (sum(b[0]) + sum(b[1])) / (len(b[0]) + len(b[1]))
mean_of_b = np.mean(b)

In [24]:
# Exercise 5 - refactor the following to use numpy for calculating the product of all numbers multiplied together.
product_of_b = 1
for row in b:
    for number in row:
        product_of_b *= number
     
product_of_b = np.product(b)

In [25]:
# Exercise 6 - refactor the following to use numpy to find the list of squares 
squares_of_b = []
for row in b:
    for number in row:
        squares_of_b.append(number**2)
squares_of_b = np.square(b)

In [26]:
# Exercise 7 - refactor using numpy to determine the odds_in_b
odds_in_b = []
for row in b:
    for number in row:
        if(number % 2 != 0):
            odds_in_b.append(number)
            
odds_in_b = b[b%2==1]

In [27]:
# Exercise 8 - refactor the following to use numpy to filter only the even numbers
evens_in_b = []
for row in b:
    for number in row:
        if(number % 2 == 0):
            evens_in_b.append(number)
evens_in_b = b[b%2==0]

In [28]:
# Exercise 9 - print out the shape of the array b.
b

array([[3, 4, 5],
       [6, 7, 8]])

In [29]:
# Exercise 10 - transpose the array b.
np.transpose(b)

array([[3, 6],
       [4, 7],
       [5, 8]])

In [30]:
# Exercise 11 - reshape the array b to be a single list of 6 numbers. (1 x 6)
np.reshape(b,(1,6))

array([[3, 4, 5, 6, 7, 8]])

In [31]:
# Exercise 12 - reshape the array b to be a list of 6 lists, each containing only 1 number (6 x 1)
np.reshape(b,(6,1))

array([[3],
       [4],
       [5],
       [6],
       [7],
       [8]])

In [32]:
## Setup 3
c = np.array( [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

# HINT, you'll first need to make sure that the "c" variable is a numpy array prior to using numpy array methods.

In [33]:
# Exercise 1 - Find the min, max, sum, and product of c.
np.max(c)
np.min(c)
np.sum(c)
np.product(c)

362880

In [34]:
# Exercise 2 - Determine the standard deviation of c.
np.std(c)

2.581988897471611

In [35]:
# Exercise 3 - Determine the variance of c.
np.var(c)

6.666666666666667

In [36]:
# Exercise 4 - Print out the shape of the array c
c

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [59]:
# Exercise 5 - Transpose c and print out transposed result.
trans = c.transpose()

In [61]:
# Exercise 6 - Get the dot product of the array c with c. 
dot_prod = np.multiply(trans,c)

In [63]:
# Exercise 7 - Write the code necessary to sum up the result of c times c transposed. Answer should be 261
c_ctrans = np.sum(np.multiply(c,np.transpose(c)))
c_ctrans

261

In [62]:
# Exercise 8 - Write the code necessary to determine the product of c times c transposed. Answer should be 131681894400.

test = np.product(dot_prod)
test

131681894400

In [41]:
## Setup 4
d = np.array([
    [90, 30, 45, 0, 120, 180],
    [45, -90, -30, 270, 90, 0],
    [60, 45, -45, 90, -45, 180]
])

In [42]:
# Exercise 1 - Find the sine of all the numbers in d
np.sin(d)

array([[ 0.89399666, -0.98803162,  0.85090352,  0.        ,  0.58061118,
        -0.80115264],
       [ 0.85090352, -0.89399666,  0.98803162, -0.17604595,  0.89399666,
         0.        ],
       [-0.30481062,  0.85090352, -0.85090352,  0.89399666, -0.85090352,
        -0.80115264]])

In [43]:
# Exercise 2 - Find the cosine of all the numbers in d
np.cos(d)

array([[-0.44807362,  0.15425145,  0.52532199,  1.        ,  0.81418097,
        -0.59846007],
       [ 0.52532199, -0.44807362,  0.15425145,  0.98438195, -0.44807362,
         1.        ],
       [-0.95241298,  0.52532199,  0.52532199, -0.44807362,  0.52532199,
        -0.59846007]])

In [44]:
# Exercise 3 - Find the tangent of all the numbers in d
np.tan(d)

array([[-1.99520041, -6.4053312 ,  1.61977519,  0.        ,  0.71312301,
         1.33869021],
       [ 1.61977519,  1.99520041,  6.4053312 , -0.17883906, -1.99520041,
         0.        ],
       [ 0.32004039,  1.61977519, -1.61977519, -1.99520041, -1.61977519,
         1.33869021]])

In [45]:
# Exercise 4 - Find all the negative numbers in d
d[d<0]

array([-90, -30, -45, -45])

In [46]:
# Exercise 5 - Find all the positive numbers in d
d[d>0]

array([ 90,  30,  45, 120, 180,  45, 270,  90,  60,  45,  90, 180])

In [47]:
# Exercise 6 - Return an array of only the unique numbers in d.
np.unique(d)

array([-90, -45, -30,   0,  30,  45,  60,  90, 120, 180, 270])

In [48]:
# Exercise 7 - Determine how many unique numbers there are in d.
np.unique(d).shape

(11,)

In [49]:
# Exercise 8 - Print out the shape of d.
d

array([[ 90,  30,  45,   0, 120, 180],
       [ 45, -90, -30, 270,  90,   0],
       [ 60,  45, -45,  90, -45, 180]])

In [50]:
# Exercise 9 - Transpose and then print out the shape of d.
np.transpose(d)

array([[ 90,  45,  60],
       [ 30, -90,  45],
       [ 45, -30, -45],
       [  0, 270,  90],
       [120,  90, -45],
       [180,   0, 180]])

In [51]:
# Exercise 10 - Reshape d into an array of 9 x 2
np.reshape(d,(9,2))

array([[ 90,  30],
       [ 45,   0],
       [120, 180],
       [ 45, -90],
       [-30, 270],
       [ 90,   0],
       [ 60,  45],
       [-45,  90],
       [-45, 180]])